{% extends 'base.html' %}
{% load static %}
{% block content%}

<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
    <!--===== HOME =====-->
<section class="home responsive-font-example" id="home">
    <div class="home__container bd-grid responsive-font-example">
        <div class="home__img responsive-font-example">
            <img src="{% static 'images/12-removebg-preview.png' %}" alt="" data-speed="-2" class="move">
            <img src="{% static 'images/blood2-removebg-preview.png' %}" alt="" data-speed="-2" class="move">
        </div>

        <div class="home__data responsive-font-example">
            <h1 class="home__title responsive-font-example">Blood<br> Donation</h1>
            <p class="home__description responsive-font-example">Be the reason for someone’s heartbeat. <br> You can become a superhero too. Just donate a bag of blood.</p>
            <a href="#" class="home__button responsive-font-example">Get Started</a>
        </div>
    </div>
</section>
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
<!--animation start-->
<div class="wrapper">
    <div class="box1">
        <p><b>Blood Donation</b></p>
    </div>
    <div class="box5 responsive-font-example">
        <p class="responsive-font-example">Be the reason for someone’s heartbeat. Donate blood. Not on roads but in blood donation camps.
            A single drop of blood can make a huge difference. The gift of blood is a gift to someone’s life</p>
    </div>
</div>
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
<!--animation end-->
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="{% static 'images/blood1.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <img src="{% static 'images/blood1.jpg' %}" alt="Avatar" style="width:300px;height:300px;">
    </div>
  </div>
</div>

<!-- section start -->
<section class="sec-10">
    <div class="container">
        <h2 class="main-title">Every blood donation is a gift of life.</h2>
        <div class="content">
            <div class="image">
                <img src="{% static 'images/blood34.png' %}">
            </div>
            <div class="text-box">
                <h3>Blood Donation</h3>
                <p>Blood donation is a vital part of worldwide healthcare.
                    It relates to blood
                    transfusion as a life-sustaining and life-saving procedure
                    as well as a form of therapeutic phlebotomy as a primary
                    medical intervention. Over one hundred million units of
                    blood are donated each year throughout the world.</p>
            </div>
        </div>
        <div class="media-icons">
            <a href="#" class="icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</section>
<!--section end-->
<section class="sec-02">
    <div class="container">
        <h3 class="section-title">Blood donation</h3>
        <div class="content">
            <div class="image">
                <img src="{% static 'images/blood1.jpg' %}">
            </div>
            <div class="info">
                <h4 class="info-title">Description</h4>
                <p>Blood donation is a vital part of worldwide healthcare.
                    It relates to blood
                    transfusion as a life-sustaining and life-saving procedure
                    as well as a form of therapeutic phlebotomy as a primary
                    medical intervention. Over one hundred million units of
                    blood are donated each year throughout the world.</p>
            </div>
        </div>
    </div>
</section>
<section class="sec-03">
    <div class="container">
        <h3 class="section-title">Blood Donation</h3>
        <div class="content">
            <div class="media-info">
                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> instagram</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i> Linked-in</a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i> Whatsapp</a></li>
            </div>
            <div class="image">
                <img src="{% static 'images/blood1.jpg' %}">
            </div>
        </div>
    </div>
</section>


{%endblock%}
