{% load static %}
<!-- Header starts -->
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>
<!--===== HEADER =====-->
<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="#" class="nav__logo">BloodDonation</a>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>

            <ul class="nav__list">
                <li class="nav__item"><a href="{% url 'blood_request:blood_requests_list' %}" class="nav__link active">Request</a></li>
                <li class="nav__item"><a href="{% url 'blood_request:available_donors' %}" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                {% if request.user.is_authenticated %}<li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">Logout</a></li>{% endif %}
            </ul>
        </div>
    </nav>
</header>
<!-- Header ends -->
