<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if request.user.is_authenticated %}
        <title>Reset Password</title>
    {% else %}
        <title>Forgot Password</title>
    {% endif %}
</head>
<body>
<!--{% for message in messages %}-->
<!--  <div class="toast notification bg-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">-->
<!--    <div class="toast-header">-->
<!--      <strong class="mr-auto">-->
<!--        {% if message.tags == 'error' %}-->
<!--          <i class="fas fa-times mr-2"></i>-->
<!--        {% elif message.tags == 'warning' %}-->
<!--          <i class="fas fa-exclamation mr-2"></i>-->
<!--        {% elif message.tags == 'info' %}-->
<!--          <i class="fas fa-info mr-2"></i>-->
<!--        {% elif message.tags == 'success' %}-->
<!--          <i class="fas fa-check mr-2"></i>-->
<!--        {% endif %}-->
<!--        {{message.tags|capfirst}}-->
<!--      </strong>-->
<!--      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="toast-body">-->
<!--      {{message|safe}}-->
<!--    </div>-->
<!--  </div>-->
<!--{% endfor %}-->
<!--{% if messages %}-->
<!--    {% for message in messages %}-->
<!--        {% if message.tags == 'success'%}-->
<!--            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>-->
<!--        {% elif message.tags == 'info' %}-->
<!--            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>-->
<!--        {% elif message.tags == 'warning' %}-->
<!--            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>-->
<!--        {% elif message.tags == 'error' %}-->
<!--            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>-->
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--{% endif %}-->
<!--{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
    <div class="alert alert-dismissible alert-success fade show shadow">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% else %}
    <div class="alert alert-dismissible alert-danger fade show shadow">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    {% endif %}
 {% endfor %}
{% endif %}-->
</body>
</html>