{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="wrapper wrapper-form">
<div class="logo">
    <img src="{% static 'images/bloodbanklogo.png' %}" alt="">
</div>
    <br>
<div class="text-center name bloodbank-name-color">
Make Request
</div>
<br>
<p class="login-box-msg login-middle-content text-center">Request for blood to available donor</p>
<br>
<form class="p-3 mt-3" method="post" action="{% url 'blood_request:add_request' %}" novalidate>
    {% csrf_token %}
        {% include "partials/add_request_partial.html" with field=form.donor %}
        {% include "partials/add_request_partial.html" with field=form.blood_group_value  %}
        {% include "partials/add_request_partial.html" with field=form.hospital %}
        {% include "partials/add_request_partial.html" with field=form.units %}
        {% include "partials/add_request_partial.html" with field=form.mobile_number %}

    <button type="submit" class="btn mt-3 submit-button-style">Add Request</button>
</form>
<div class="text-center fs-6">
    <a href="{% url 'blood_request:blood_requests_list' %}">Back</a>
</div>
</div>
{% endblock %}
