{% extends 'emails/email_base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
{% block content %}
<!-- Sidebar and content section start-->
<div class="sec-space-both" style="padding: 30px 0px 60px 0;background: #F08080;">
    <div class="all-temp add-staff" style="padding: 0 60px">
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 30px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            Hello,
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 30px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            We received a request to reset the password for your BloodDonation account.
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 30px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            Click on the following link to initiate your password reset.
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 30px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            <a href="{{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
        </p><br><br>
    </div>
</div>
{% endblock %}
{% endblock body %}