{% extends 'emails/email_base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
{% block content %}
<!-- Sidebar and content section start-->
<div class="sec-space-both" style="padding: 30px 0px 60px 0;background: #f8f9fa;">
    <div class="all-temp add-staff" style="padding: 0 60px">
        <p style="font-family: 'Telegraf';font-weight: normal; text-decoration:none;font-size: 18px;line-height: 30px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            <b>Hello <label style=" text-decoration:none !important;">{{username}},</label>Welcome to BloodDonation!</b>
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 15px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            Your account has been created successfully.
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 15px;color: #2a3f54;margin-bottom: 0;margin-top: 0; text-align:left">
            You can use following credentials to log in.
        </p><br>
        <p style="font-family:  'Telegraf';font-weight: normal;font-size: 18px;line-height: 15px;color: #2a3f54;margin-bottom: 0;margin-top: 30px; text-decoration:none; text-align:left">
            <b>Email Address : {{username}}</b>
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 15px;color: #2a3f54;margin-bottom: 15px;margin-top: 0; text-align:left">
            <b>Password : {{password}}</b>
        </p><br>
        <p style="font-family: 'Telegraf';font-weight: normal;font-size: 18px;line-height: 15px;color: #2a3f54;margin-bottom: 0;margin-top: 15px; text-align:left">
            <b><a style="color: #2a3f54;" href="{{absolute_login_url}}" >Click here to Login</a></b>
        </p><br>

    </div>
</div>
{% endblock %}
{% endblock body %}