    /* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #B41919;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}
.wrapper .form-field select {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.submit-button-style{
    height: 58px !important;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #B41919;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #B41919;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #B41919;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}
.wrapper .input-group-addon.psw-ic img {
    display: none;
}

.wrapper .input-group-addon.psw-ic img:first-child {
    display: block;
}
.wrapper .input-group-addon.psw-show img:first-child {
    display: none;
}

.wrapper .input-group-addon.psw-show img:last-child {
    display: block;
}
.wrapper .input-group-addon.psw-ic img {
    margin-left: 240px;
    margin-top: -16px;
}
.error_class{
    color: #B41919;
}
#errormessage{
    color: #B41919;
}
.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* A media query for a large screen */
@media (min-width: 1170px) {
  .wrapper {
    max-width: 1170px;
  }
}

.logo-size-set{
    max-width: 100px;
    max-height: 45px;
}
.title-color{
    color: #B41919 !important;
    margin-right: 51px !important;
}
.profileDropdown.dropdown-toggle::after{
    background-color: #B41919;
}
.change-color-class{
    max-height: 38px;
}
.nav-sidebar .nav-item a.nav-link.active, .nav-sidebar .nav-item a.nav-link:hover{
    background: #B41919;
}
@media (min-width: 1200px)
.container {
    max-width: 1388px;
}
.main-content{
    margin-left:0px;
}
.card-img-bottom {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.fix-margin{
    margin-left: 10px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@mixin media($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin media-min($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin media-height($breakpoint) {
    @media (max-height: $breakpoint) {
        @content;
    }
}

// ------------- VARIABLES ------------- //
$whitespace-height: 50px;
$left-offset: 13vw;
$rect-width: 48vh;
$rect-height: 62vh;
$rect-border-width: 5vh;
$control-btn-padding: 1.6rem;
$control-active-btn-offset: .3rem;
$left-offset-small: 9vw;
$rect-height-small: 20vw;
$rect-width-small: 16vw;
$rect-border-width-small: 5vh;
// ------------- GENERAL ------------- //
%callout {
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .12rem;
    font-size: .7rem;
    line-height: 1;
}

[v-cloak] {
    opacity: 0;
}

body {
    cursor: default;
    ::selection {
        background-color: rgba(46, 49, 52, .7);
        color: #f5f5f1;
    }
    ::-moz-selection {
        background-color: rgba(46, 49, 52, .7);
        color: #f5f5f1;
    }
}

.wrapper {
    height: calc(100vh - #{$whitespace-height});
    min-height: 36rem;
    position: relative;
    @include media(630px) {
        height: 100vh;
        min-height: 0;
    }
}

// ------------- SLIDES ------------- //
.slide {
    &-wrapper {
        background-size: cover;
        height: 100%;
        background-position: center center;
        position: absolute;
        width: 100%;
        background-blend-mode: darken;
        &:nth-child(1) {
            background-color: rgba(115, 129, 153, .4);
            &:before {
                background-color: rgba(115, 129, 153, .25);
            }
            .slide-content-text {
                text-shadow: 2px 5px 45px rgba(85, 96, 113, 0.25);
            }
        }
        &:nth-child(2) {
            background-color: rgba(144, 171, 184, .7);
            &:before {
                background-color: rgba(144, 171, 184, .3);
            }
            .slide-content-text {
                text-shadow: 2px 5px 45px rgba(121, 142, 152, 0.2);
            }
        }
        &:nth-child(3) {
            background-color: rgba(86, 125, 156, .5);
            &:before {
                background-color: rgba(86, 125, 156, 0.2);
            }
            .slide-content-text {
                text-shadow: 2px 5px 55px rgba(57, 83, 103, 0.4);
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
    &-inner {
        position: relative;
        z-index: 2;
        height: 100%;
        overflow: hidden;
    }
    &-bg-text {
        font-family: 'Playfair Display';
        color: #000;
        font-size: 42vh;
        line-height: .8;
        opacity: .03;
        font-weight: 900;
        margin-top: -4rem;
        position: absolute;
        top: 50%;
        left: 5vw;
        transform: translateY(-50%);
        > p:last-child {
            padding-left: 4rem;
        }
    }
    &-content {
        color: #fff;
        margin-top: 5rem;
        position: absolute;
        top: 50%;
        left: calc(#{$left-offset} + (.7) * #{$rect-width});
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        @include media(1000px) {
            left: calc(#{$left-offset} + 1rem);
        }
        @include media-height(730px) {
            top: 30%;
            transform: translateY(-30%);
            left: calc(#{$left-offset-small} + (.7) * #{$rect-width-small});
        }
        &-text {
            font-family: 'Playfair Display';
            font-size: 9rem;
            letter-spacing: .2rem;
            line-height: .87;
            font-weight: 700;
            will-change: auto;
            @include media-height(790px) {
                font-size: 7rem;
            }
            @include media(1150px) {
                font-size: 7rem;
            }
            @include media(840px) {
                font-size: 5.5rem;
            }
            @include media(630px) {
                margin-bottom: 5.5rem;
            }
            @include media(500px) {
                font-size: 3.5rem;
            }
            > p:last-child {
                padding-left: 3rem;
            }
        }
        &-cta {
            @extend %callout;
            cursor: pointer;
            align-self: flex-start;
            margin-top: 4.5rem;
            margin-left: calc((.3) * 48vh + 4.5rem);
            padding: .9rem 2.2rem;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            transition: .18s ease-in-out;
            font-weight: 700;
            @include media(1000px) {
                background-color: rgba(255, 255, 255, .3);
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
            }
            @include media(630px) {
                display: none;
            }
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
    &-rect {
        height: $rect-height;
        width: $rect-width;
        border-image-slice: 10%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $left-offset;
        border-width: $rect-border-width;
        border-style: solid;
        box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
        will-change: auto;
        @include media-height(790px) {
            left: $left-offset-small;
            height: $rect-height-small;
            width: $rect-width-small;
            border-width: $rect-border-width-small;
        }
        @include media-height(730px) {
            top: 30%;
            transform: translateY(-30%);
        }
        &-filter {
            filter: brightness(110%) contrast(110%) saturate(110%);
        }
    }
    &-side-text {
        @extend %callout;
        position: absolute;
        left: calc(#{$left-offset} - 3rem);
        writing-mode: vertical-rl;
        top: calc((50% - (#{$rect-height} / 2)) + (#{$rect-border-width} / 2));
        @include media-height(790px) {
            left: calc(#{$left-offset-small} - 3rem);
            top: calc((50% - (#{$rect-height-small} / 2)) + (#{$rect-border-width-small} / 2));
        }
        @include media-height(730px) {
            top: calc((40% - (#{$rect-height-small} / 2)) + (#{$rect-border-width-small} / 2));
        }
        > span:first-child {
            font-weight: 700;
        }
        &:after {
            content: "";
            width: 1px;
            background-color: #fff;
            height: 40px;
            display: block;
            position: absolute;
            top: calc(100% + 25px);
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

// ------------- CONTROLS ------------- //
.controls {
    &-container {
        position: absolute;
        z-index: 200;
        display: flex;
        bottom: 0;
        right: 0;
        align-items: flex-end;
        @include media(630px) {
            display: none;
        }
    }
    &-button {
        @extend %callout;
        cursor: pointer;
        background-color: rgba(208, 206, 204, .32);
        border: 0;
        padding: $control-btn-padding 2.2rem;
        flex-basis: 0;
        flex-grow: 1;
        min-width: 15rem;
        transition: .25s ease-in-out;
        outline: 0;
        @include media(730px) {
            padding: 1.2rem 1.4rem;
            min-width: 13rem;
        }
        &:not(.active) {
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
        &.active {
            cursor: default;
            font-weight: 700;
            background-color: #3b3e45;
            padding-top: $control-btn-padding + $control-active-btn-offset;
            padding-bottom: $control-btn-padding + $control-active-btn-offset;
            margin-bottom: -$control-active-btn-offset;
            position: relative;
            @include media(730px) {
                padding-top: 1.4rem;
                padding-bottom: 1.4rem;
                margin-bottom: -0.15rem;
            }
            &:after {
                content: "";
                background-color: #e3e3e3;
                height: 5px;
                width: calc(100% - 8px);
                position: absolute;
                top: 100%;
                left: 4px;
            }
        }
        &:not(.active) + & {
            border-left: 1px solid rgba(255, 255, 255, .2);
        }
    }
}

// ------------- PAGINATION ------------- //
.pagination {
    &-container {
        position: absolute;
        z-index: 200;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        @include media(920px) {
            display: none;
        }
    }
    &-item {
        width: 30px;
        height: 1px;
        background-color: rgba(255, 255, 255, .6);
        transition: .18s ease-in-out;
        & + & {
            margin-top: 1rem;
        }
        &.active {
            background-color: #fff;
            position: relative;
            transform: translateX(-.6rem);
            width: 35px;
            &:after {
                content: "";
                height: 4px;
                width: 2px;
                border-radius: 35%;
                background-color: #fff;
                display: inline-block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateX(.6rem) translateY(-50%);
            }
        }
        &:not(.active) {
            cursor: pointer;
            &:hover {
                background-color: #fff;
                width: 35px;
            }
        }
    }
}

// ------------- ANIMATION EFFECT ------------- //
$slide-swipe: .9s;
$text-cut-up: .5s;
@keyframes slideLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes cutTextUp {
    from {
        clip-path: inset(0 0 -10% 0);
    }
    to {
        clip-path: inset(0 0 100% 0);
    }
}

@keyframes cutTextDown {
    from {
        clip-path: inset(100% 0 0 0);
    }
    to {
        clip-path: inset(-10% 0 -20% 0);
        opacity: 1;
    }
}

@keyframes cutTextDownFromTop {
    from {
        clip-path: inset(0 0 100% 0);
    }
    to {
        clip-path: inset(0 0 -30% 0);
        opacity: 1;
    }
}

@keyframes rectMovement {
    0% {
        transform: translateX(0) rotate(0) translateY(-50%);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-50%);
        opacity: 0;
    }
}

@include media-height(730px) {
    @keyframes rectMovement {
        0% {
            transform: translateX(0) rotate(0) translateY(-30%);
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-30%);
            opacity: 0;
        }
    }
}

@keyframes rectMovementFromRight {
    0% {
        transform: translateX(calc(#{$rect-width})) rotate(12deg) translateY(-50%);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0) translateY(-50%);
        opacity: 1;
        @include media-height(730px) {
            transform: translateX(0) rotate(0) translateY(-30%);
        }
    }
}

@include media-height(730px) {
    @keyframes rectMovementFromRight {
        0% {
            transform: translateX(calc(#{$rect-width})) rotate(12deg) translateY(-30%);
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(0) rotate(0) translateY(-30%);
            opacity: 1;
        }
    }
}

@keyframes rectMovementRight {
    0% {
        transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-50%);
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: translateX(0) rotate(0) translateY(-50%);
        opacity: 1;
        @include media-height(730px) {
            transform: translateX(0) rotate(0) translateY(-30%);
        }
    }
}

@include media-height(730px) {
    @keyframes rectMovementRight {
        0% {
            transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-30%);
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: translateX(0) rotate(0) translateY(-30%);
            opacity: 1;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-wrapper {
    opacity: 0;
    transition-delay: $slide-swipe + $text-cut-up;
    transition-duration: 0s;
    transition-property: opacity;
    will-change: opacity, transform;
    &:not(.active) {
        animation-delay: $text-cut-up;
        animation-name: slideLeft;
        animation-duration: $slide-swipe;
        animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
        pointer-events: none;
        .slide-content-text > p,
        .slide-side-text {
            animation-name: cutTextUp;
            animation-duration: $text-cut-up;
            animation-timing-function: ease-out;
        }
        .slide-rect {
            animation-name: rectMovement;
            animation-duration: $text-cut-up;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
    }
    &.active {
        transition-delay: 0s;
        opacity: 1;
        .slide-content-text > p {
            opacity: 0;
            animation-delay: $text-cut-up + .3s;
            animation-name: cutTextDown;
            animation-duration: $text-cut-up;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
        .slide-rect {
            opacity: 0;
            animation-name: rectMovementFromRight;
            animation-duration: $text-cut-up - .05s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
            animation-delay: $slide-swipe;
        }
    }
    .is-previous & {
        &:not(.active) {
            animation: none;
            .slide-rect {
                animation: none;
            }
        }
        &.active {
            transform: translateX(-100%);
            animation-fill-mode: forwards;
            animation-delay: $text-cut-up;
            animation-name: slideRight;
            animation-duration: $slide-swipe - .1s;
            animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
            .slide-rect {
                opacity: 0;
                animation-name: rectMovementRight;
                animation-duration: $text-cut-up;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                animation-delay: $slide-swipe;
            }
        }
    }
}

.first-load {
    .slide-wrapper.active .slide-side-text,
    .slide-wrapper.active .slide-content-cta,
    .slide-wrapper.active .slide-rect,
    .controls-container {
        opacity: 0;
        animation-name: fadeIn;
        animation-delay: .3s;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .slide-wrapper.active .slide-content-text > p {
        animation-name: fadeIn;
        animation-delay: $text-cut-up;
        animation-duration: $text-cut-up + .2s;
    }
}
.wrapper-form{
    display: block;
}
.header-spacing-from-card{
    padding-top: 80px;
}
.parsley-errors-list li {
    font-size: 13px;
    color: #dc3545;
    padding-left: 11px !important;
    font-weight: normal;
    !important: ;
}

.parsley-errors-list{
    padding-right:15px !important;
}
.parsley-backendError{
    padding-right:15px !important;
}
.width-search{
    width: 37%;
}

/* ===== Career ===== */
.career-form {
  background-color: #FFCCCB;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
background:#fff;
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}

ul {
  list-style: none;
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #FFCCCB;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 18px;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.mb-30 {
    margin-bottom: 30px;
}

.button-width-set{
    margin-left: 153px;
    height: 63px !important;
}
.request-status-btn-height{
    height: 53px !important;
}
.margin-search-button{
    margin-left: -151px;
}
.add-request-button{
    margin-left: 141px;
    height: 82px !important;
}
.margin-for-image-no-data{
    margin-left: 105px;
    margin-top: 71px;
}
.margin-main-no-data-div{
    margin-left: 236px;
}
.text-margin-username{
    margin-top: -47px;
    margin-left: -40px;
}
#map {
    height: 100%;
 }

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }

 .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #495057;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-right: 25px;
}

body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }