{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block body %}
<div class="wrapper password-reset-wrapper">
<div class="logo">
    <img src="{% static 'images/bloodbanklogo.png' %}" alt="">
</div>
    <br><br>
    <p class="login-box-msg login-middle-content">Please enter your new password here.</p>

<form class="p-3 mt-3" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% for field in form.visible_fields %}
    <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        {% render_field field class="form-control password-field" %}
        <span class="input-group-addon psw-ic password-reset-confirm-icon-eye-margin">
            <img src="{% static 'images/eye-icon-hide.svg' %}" alt="Eye">
            <img src="{% static 'images/eye-icon-show.svg' %}" alt="Eye">
        </span>
    </div>
    <div>
        {% for error in field.errors %}
          <div id="errormessage">
              *{{ error|escape }}
          </div>
          {% endfor %}
        </div>
    {% endfor %}
    <button type="submit" class="btn mt-3">Reset</button>
</form>
<div class="text-center fs-6">
    <a href="{% url 'login' %}">Back to Login</a>
</div>
</div>
<!-- SCRIPTS -->
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- multiselect js -->
<script src="{% static 'js/chosen.jquery.js' %}"></script>

<!-- custom js -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script>
$(document).ready(function(){
    $( "span.input-group-addon" ).click(function() {
        $(this).toggleClass("psw-show");
        var password = $(this).prev('input.password-field');
        if (password.attr('type') == 'text'){
            password.attr('type', 'password');
        }
        else{
            password.attr('type', 'text');
        }
    });
});
</script>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')
            </script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')</script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}