{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block body %}
<div class="wrapper password-reset-wrapper">
<div class="logo">
    <img src="{% static 'images/bloodbanklogo.png' %}" alt="">
</div>
    <br>
<div class="text-center mt-4 name bloodbank-name-color">
Reset Password Complete
</div>
    <br>
<p class="text-center password-reset-complete-text">Hurray! Your password has been changed.</p>
    <a href="{% url 'login' %}" class="btn btn-primary back-login-page-button back-login-password-set">Back to Login Page</a>
</div>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')
            </script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message | safe }}')</script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock body %}