{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block body %}
<div class="wrapper">
<div class="logo">
    <img src="{% static 'images/email.png' %}" alt="">
</div>
    <br>
<div class="text-center mt-4 name bloodbank-name-color">
Reset Password Complete
</div>
    <br>
<p class="text-center">Hurray! Your password has been changed.</p>
    <a href="{% url 'login' %}" class="btn btn-primary back-login-page-button">Back to Login Page</a>
</div>
{% endblock body %}